#container-duelist-custom-pagination-general{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#container-duelist-custom-pagination{
    width: 150px;
    height: 36px;
    box-shadow: 0 0 2px gray;
    background-color: #ffffff;
    border-radius: 36px;
    transition: 0.5s;
    overflow: hidden;
    margin: 0 auto;
}

#container-duelist-custom-pagination-closed{
    width: 36px;
    height: 36px;
    box-shadow: 0 0 2px gray;
    background-color: #ffffff;
    border-radius: 36px;
    transition: 0.5s;
    overflow: hidden;
}

#container-duelist-custom-pagination-inputs{
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pagination-link-duelist{
    box-shadow: 0 0 5px gray;
    margin: 0 5px 0 0;
}

#input-search-duelist-pagination{
    width: 50px;
    border: 0;
    box-shadow: 0 0 2px black;
    border-radius: 10px;
    height: 25px;
    margin-right: 10px;
    padding-left: 5px;
    box-sizing: border-box;
}

#button-search-duelist-pagination{
    border-radius: 10px;
}
