#custom-duelist-table{
    height: auto;
    min-height: 10px;
    max-height: 65vh;
    overflow: auto;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-duelist-row{
    background-color: #dfdfdf;
    box-shadow: 0 0 5px gray;
}

.custom-duelist-row:nth-child(2n+2){
    background-color: #fff;
}

.custom-duelist-span{
    font-size: 1.0em;
    text-overflow: ellipsis;
    max-width: 20ch;
    overflow: hidden;
}

.custom-duelist-index{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #FFFFFF;
}

.custom-duelist-index-undefined {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #000;
    box-shadow: 0 0 5px gray;
}

.custom-duelist-button-status {
    text-overflow: ellipsis;
    width: 12ch;
    max-width: 12ch;
    overflow: hidden;
}

.custom-duelist-button-no-status {
    width: 12ch;
    max-width: 12ch;
    overflow: hidden;
}

.custom-duelist-media-select-status{
    display: column;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.custom-duelist-media-select-status > button{
    margin-top: 20px;
    margin-left: 5px;
    float: left;
}

.custom-duelist-input-label-material{
    padding: 0;
}

.header-duelist-modal{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    justify-content: space-between;
}

.header-title-duelist-modal{
    margin: 0;
}

.buttons-header-duelist-modal{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
}

.container-body-duelist-modal{
    display: flex;
    flex-direction: row;
}

.action-button-duelist-modal{
    height: 30px;
}

.container-list-duelist-modal{
    width: auto;
    min-width: 20px;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.row-list-duelist-modal{
    min-width: 20px;
    width: auto;
    height: auto;
    min-height: 45px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.column-list-duelist-modal{
    width: 100%;
    height: auto;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2px;
    box-sizing: border-box;
}

.cell-title-list-duelist-modal{
    width: 200px;
    height: auto;
    min-height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1px;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
    font-weight: 600;
    background-color: #11cdef;
    margin: 0 1px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 2px gray;
    transition: 0.1s;
}

.cell-value-list-duelist-modal{
    width: 200px;
    height: auto;
    min-height: 30px;
    color: #5c5c5c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 2px;
    background-color: #fff;
    margin: 0 1px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 2px gray;
    transition: 0.1s;
}

.input-number{
    appearance: none;
}

.clickable-duelist{
    cursor: pointer;
    user-select: none;
    box-shadow: inset 0px 0px 5px gray;
}

.clickable-duelist:active{
    background-color: gray;
    color: #fff;
}

.container-modal-edit-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.barra-notes-duelist-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-notes-duelist-modal{
    width: 300px;
    height: 55vh;
    overflow-y: scroll;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.container-note-duelist-modal{
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

.note-duelist-modal{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    overflow: hidden;
}

.note-duelist-modal textarea{
    resize: none;
    height: 60px;
    border-radius: 10px;
}

.note-duelist-modal p{
    padding: 2px;
    text-align: center;
}

.autor-note-duelist-modal{
    width: 100%;
    height: 35px;
    color: #32325d;
    text-transform: capitalize;
    box-shadow: 0 0 2px black;
    padding: 2px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-note-duelist-modal{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
}

.datetime-note-duelist-modal{
    color: #5c5c5c;
    margin-right: 5px;
    font-size: 0.9em;
}

.container-register-note-duelist-modal{
    width: 100%;
    height: 100px;
    padding: 5px;
}

.box-register-note-duelist-modal{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    overflow: hidden;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-register-note-duelist-modal button{
    height: 40px;
}

.box-register-note-duelist-modal textarea{
    resize: none;
    height: 100%;
    box-shadow: 0 0 0 1px gray;
}
