#container-duelist-filter{
    width: 100%;
    float: left;
    transition: 0.5s;
    overflow: hidden;
    padding: 5px;
    margin-bottom: 5px;
}

.container-duelist-filter-opened{
    height: auto;
    max-height: 162px;
}

.container-duelist-filter-closed{
    height: auto;
    max-height: 35px;
}

#container-duelist-filter-itens{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#container-duelist-filter-button{
    margin-bottom: 10px;
}

#container-duelist-filter-input{
    width: 100%;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#container-duelist-filter-search-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#duelist-filter-input-text{
    width: 60%;
}

#duelist-filter-input-text > .duelist-filter-input-checkbox{
    margin-right: 10px;
}

.duelist-filter-input-checkbox{
    width: 60%;
}

#duelist-filter-container-buttons{
    display: flex;
    flex-direction: row;
}

#duelist-filter-button-search{
    width: 80px;
}

#duelist-filter-input-select{
    width: 230px;
    /* margin-bottom: 10px; */
}

.duelist-filter-container-bubble{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 2px;
    margin: 0 auto;
    gap: 10px;
    white-space: nowrap;
}

.duelist-filter-bubble{
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-color: #fff;
    box-shadow: 0 0 2px black;
    font-size: 0.9em;
    margin-bottom: 6px;
    user-select: none;
    cursor: pointer;
}

.duelist-filter-bubble:hover{
    background-color: #11cdef;
    color: #fff;
    box-shadow: 0 0 2px #fff;
}

.duelist-filter-bubble:hover > .button-filter-bubble-delete{
    transition: 0.5s;
    background-color: red;
    color: #fff;
}

.duelist-filter-bubble-title{
    font-weight: bold;
}

.button-filter-bubble-delete{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}