#custom-duelist-table{
    height: auto;
    min-height: 10px;
    max-height: 65vh;
    overflow: auto;
    display: block;
}

.custom-duelist-row{
    background-color: #dfdfdf;
    box-shadow: 0 0 5px gray;
}

.custom-duelist-row:nth-child(2n+2){
    background-color: #fff;
}

.custom-duelist-span{
    font-size: 1.0em;
    text-overflow: ellipsis;
    max-width: 20ch;
    overflow: hidden;
}

.custom-duelist-index{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #FFFFFF;
}

.custom-duelist-index-undefined {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: #000;
    box-shadow: 0 0 5px gray;
}

.custom-duelist-button-status {
    text-overflow: ellipsis;
    width: 12ch;
    max-width: 12ch;
    overflow: hidden;
}

.custom-duelist-button-no-status {
    width: 12ch;
    max-width: 12ch;
    overflow: hidden;
}

.custom-duelist-media-select-status{
    display: column;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.custom-duelist-media-select-status > button{
    margin-top: 20px;
    margin-left: 5px;
    float: left;
}

.custom-duelist-input-label-material{
    padding: 0;
}